@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Ubuntu')

body, html
  font-family: 'Titillium Web', sans-serif
  font-size: 20px

main
  margin: 10px 20px
  body: 10px 20px

button
  padding: 10px 25px
  background: linear-gradient(to bottom, #cc00cc, #993399)
  color: #fff
  text-align: center
  margin: 0 10px
  float: left
  border: none
  cursor: pointer
  border: 4px solid #fff
  transition: all .1s linear
  outline: none

  &:hover
    border-color: #993399

.clicked
  background: linear-gradient(to bottom, #00cc00, #009900)