doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title ES6 App
  body
    h2 Console ES6 Application for deep learning

    script(src='../js/main.js')
